<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-click="VEventoUsuario0(id)">
    Regresar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="ADesconectarseUsuario10()">
  Desconectarse</a></li>
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>

            </ul>
        </div>
    </div>
</nav>

<div align="center" style="background-color: #157DEC; width: 700px; height: 500px; margin: 0 auto;">
    <div align="center" style="background-color: #7FFFD4; width: 673px; height: 500px;">
        <div style="background-color: #FFFCCC; width: 650px; height: 500px; padding-top: 25px;">
            <div align="center">
                <h1 style="font-family Courier New"><b>Certificado de Asistencia</b></h1>
                </br></br>
                <p style="font-size: 16px"><i>Otorgado a</i></p></br>
                <div style="font-size: 25px">{{participante}}</div>
                <div style="background-color: #000000; height: 1px; margin-left: 60px; margin-right: 60px"></div>
                </br>
                <p style="font-size: 16px"><i>por su participación en <b>{{nombre}}</b>, realizado el <b>{{fecha}}</b> en <b>{{lugar}}</b>.</i></p>
                
                </br>
                <table>
                    <tr>
                        <td><img src="../../img/firma.png" alt="Firma" style="width: 150px; height: auto; margin-left: 50px"></td>
                        <td><img src="../../img/certified.png" alt="Sello certificacion" style="width: 150px; height: auto; margin-left: 170px"></td>
                    </tr>
                </table>
            </div>
            <div align="left">
                <div style="background-color: #000000; height: 1px; margin-left: 85px; margin-right: 350px"></div>
                <p style="margin-left: 120px"><i>Coordinador del Evento</i></p>
            </div>
        </div>
    </div>
</div>

</br>


<div id="right"></div>
