<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VInicioUsuario1()">
  Regresar</a></li>
<li ng-hide="evento_realizado"><a ng-click="confirmarRegistro(id)">
  Inscribirse en Evento</a></li>
<li><a ng-click="VAficheUsuario1(id)"
       ng-show="(actor=='actor_usuario' || false) && afiche">
  Ver afiche</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				<li><a ng-click="ADesconectarseUsuario3()">
  Desconectarse</a></li>
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>


<iframe ng-show="afiche" src="{{afiche}}" height="400x" style="float:right"></iframe>
	<h1 align="center">{{nombreEvento}}</h1>
	<p align="center">Administrador: {{nombreAdmin}}</p></br>
	
	<div style="margin-left: 400px; margin-right: 400px;">
		<p><b>Fecha:</b> {{fecha}}</p>
		<p><b>Lugar:</b> {{lugar}}</p>
		<p><b>Descripción:</b> {{descripcion}}</p>
		
		</br><p><b>Máx. Participantes:</b> {{nroCupos}}</p>
		<p><b>Cupos disponibles:</b> {{cuposDisponibles}}</p>
	</div>
	</br>
	<div align="center" ng-show="inscrito">
        <a ng-click="VCredenciales9(id)">Ver Credenciales</a>
    </div>
    </br>
    <div align="center" ng-show="evento_cerrado && inscrito && asistio && ! certificado_generado">
        <a ng-click="AGenerarCertificado4(id)">Generar Certificado de Asistencia</a>
    </div>
    <div align="center" ng-show="certificado_generado">
        <a ng-click="VCertificadoUsuario5(id)">Ver Certificado de Asistencia</a>
    </div>
    

<div id="right"></div>
