<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
  <li><a ng-click="VInicioAdministrador1()">
  Regresar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li><a ng-click="ADesconectarse4()">
  Desconectarse</a></li>
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
       
    </div>
</nav>


	<h1 align="center">{{res.nombreEvento}}</h1>
	<p align="center">{{res.nombreAdmin}}</p></br>
	
	<div style="margin-left: 400px; margin-right: 400px;">
		<p><b>Fecha:</b> {{res.fecha}}</p>
		<p><b>Lugar:</b> {{res.lugar}}</p>
		<p><b>Descripción:</b> {{res.descripcion}}</p>
		
		</br><p><b>Máx. Participantes:</b> {{res.nroCupos}}</p>
		<p><b>Cupos disponibles:</b> {{res.cuposDisponibles}}</p>
	</div>
	
	<div align="center">
		</br><a ng-click="VParticipantes2()">Ver Participantes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a ng-click="VModificarEvento1()">Modificar Evento</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a ng-click="borrarEvento()">Eliminar Evento</a>
	</div>
	
	
	<script>
		function borrarEvento(id) {
			if (confirm("̣Está seguro de que desea eliminar este evento?") == true) {
				AEliminarEvento(id);
			}
		}
	</script>


<div id="right"></div>
