<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
  <li><a ng-click="VEvento1(id)">
  Cancelar modificación</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="ADesconectarse2()">
  Desconectarse</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

    <form name="modificacionEventoFormForm"
          ng-submit="AModificarEvento0(modificacionEventoFormForm.$valid, id)" enctype=multipart/form-data novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error' :  modificacionEventoFormSubmitted && modificacionEventoFormForm.nombreEvento.$invalid &&
                                            modificacionEventoFormForm.nombreEvento.$pristine &&
                                            modificacionEventoFormSubmitted}">
                    <label for="modificacionEventoForm_nombreEvento">
                        Nombre del evento
                    </label>
                    <input id="modificacionEventoForm_nombreEvento"
                           type="text"
                           name="nombreEvento"
                           class="form-control"
                           ng-model="modificacionEventoForm.nombreEvento"
                           placeholder="Introduzca el nombre del evento" required/>
                             <p ng-show="modificacionEventoFormSubmitted && modificacionEventoFormForm.nombreEvento.$invalid"
                                class="help-block">Error en campo 'Nombre del evento'
                            </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :  modificacionEventoFormSubmitted &&
                                                                                      modificacionEventoFormForm.descripcion.$invalid &&
                                                                                      modificacionEventoFormForm.descripcion.$pristine &&
                                                                                      modificacionEventoFormSubmitted}">
                <label for="modificacionEventoForm_descripcion">Descripción</label>
                <textarea id="modificacionEventoForm_descripcion" name="descripcion" class="form-control" ng-model="modificacionEventoForm.descripcion"
                          placeholder="Descripción del evento" required></textarea>
                <p ng-show="modificacionEventoFormSubmitted && modificacionEventoFormForm.descripcion.$invalid" class="help-block">
                    Error en campo 'Descripción'.
                </p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' :  modificacionEventoFormSubmitted &&
                                            modificacionEventoFormForm.fecha.$invalid &&
                                            modificacionEventoFormForm.fecha.$pristine &&
                                            modificacionEventoFormSubmitted}">
                    <label for="modificacionEventoForm_fecha">Fecha</label>
                    <input id="modificacionEventoForm_fecha"
                           type="date"
                           name="fecha"
                           class="form-control"
                           ng-model="modificacionEventoForm.fecha"
                           placeholder="Fecha del evento" required/>
                               <p ng-show="modificacionEventoFormSubmitted && modificacionEventoFormForm.fecha.$invalid" class="help-block">Error en campo 'Fecha'</p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' :  modificacionEventoFormSubmitted &&
                                            modificacionEventoFormForm.archivo.$invalid &&
                                            modificacionEventoFormForm.archivo.$pristine &&
                                            modificacionEventoFormSubmitted}">
                <label for="modificacionEventoForm_archivo">Afiche</label>
                <input type="file" id="modificacionEventoForm_archivo" name="archivo" class="form-control" file="modificacionEventoForm.archivo" placeholder="" />
                <p ng-show="modificacionEventoFormSubmitted && modificacionEventoForm.archivo.$invalid" class="help-block">Error en campo 'Afiche'.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :  modificacionEventoFormSubmitted &&
                                                                                modificacionEventoFormForm.lugar.$invalid &&
                                                                                modificacionEventoFormForm.lugar.$pristine &&
                                                                                modificacionEventoFormSubmitted}">
                    <label for="modificacionEventoForm_lugar">Lugar</label>
                    <input id="modificacionEventoForm_lugar" type="text" name="lugar" class="form-control"
                          ng-model="modificacionEventoForm.lugar" placeholder="Lugar del evento" required/>
                    <p ng-show="modificacionEventoFormSubmitted && modificacionEventoFormForm.lugar.$invalid" class="help-block">Error en campo 'Lugar'.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :  modificacionEventoFormSubmitted &&
                                                                                      modificacionEventoFormForm.maxparticipantes.$invalid &&
                                                                                      modificacionEventoFormForm.maxparticipantes.$pristine &&
                                                                                      modificacionEventoFormSubmitted}">
                <label for="modificacionEventoForm_maxparticipantes">Número de cupos</label>
                <input id="modificacionEventoForm_maxparticipantes" type="number" name="maxparticipantes" class="form-control"
                       ng-model="modificacionEventoForm.maxparticipantes" placeholder="Máximo número de participantes" required min="1"/>
                    <p ng-show="modificacionEventoFormSubmitted && modificacionEventoFormForm.maxparticipantes.$invalid" class="help-block">
                        Error en campo 'Número de cupos'.
                    </p>
            </div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Modificar Evento
        </button>
    </form>
    <hr />            </tr>
        </table>

<hr />


<div id="right"></div>
