<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
  <li><a ng-click="VEvento0(id)">
  Regresar</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="ADesconectarse2()">
  Desconectarse</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>
            <ul>
                <div ng-repeat="participante in participantes">
                    <li>
                        {{participante.nombre}} {{participante.correo}}
                    </li>
                </div>  
            </ul>

<div id="right"></div>
