<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VInicioAdministrador0()">
  Regresar</a></li>
  
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li><a ng-click="ADesconectarse2()">
  Desconectarse</a></li>
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

            </tr>
        </table>

    <form name="registroEventoFormForm" ng-submit="ARegistrarEvento1(registroEventoFormForm.$valid)" enctype=multipart/form-data novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.nombreEvento.$invalid && registroEventoFormForm.nombreEvento.$pristine && registroEventoFormSubmitted}"><label for="registroEventoForm_nombreEvento">Nombre del Evento</label><input id="registroEventoForm_nombreEvento" type="text" name="nombreEvento" class="form-control" ng-model="registroEventoForm.nombreEvento" placeholder="Nombre del evento" required/><p ng-show="registroEventoFormSubmitted && registroEventoFormForm.nombreEvento.$invalid" class="help-block">Error en campo 'Nombre del Evento.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.descripcion.$invalid && registroEventoFormForm.descripcion.$pristine && registroEventoFormSubmitted}"><label for="registroEventoForm_descripcion">Descripción</label><textarea id="registroEventoForm_descripcion" name="descripcion" class="form-control" ng-model="registroEventoForm.descripcion" placeholder="Descripción del evento" required></textarea><p ng-show="registroEventoFormSubmitted && registroEventoFormForm.descripcion.$invalid" class="help-block">Error en campo 'Descripción'.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.fecha.$invalid && registroEventoFormForm.fecha.$pristine && registroEventoFormSubmitted}"><label for="registroEventoForm_fecha">Fecha</label><input id="registroEventoForm_fecha" type="date" name="fecha" class="form-control" ng-model="registroEventoForm.fecha" placeholder="Fecha del evento" required/><p ng-show="registroEventoFormSubmitted && registroEventoFormForm.fecha.$invalid" class="help-block">Error en campo 'Fecha'.</p></div>
    <div class="form-group"
         ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.archivo.$invalid
                        && registroEventoFormForm.archivo.$pristine && registroEventoFormSubmitted }">

         <label for="registroEventoForm_archivo"></label>
         <input type="file" id="registroEventoForm_archivo" name="archivo" class="form-control" file="registroEventoForm.archivo" placeholder="" required/>
         <p ng-show="registroEventoFormSubmitted && registroEventoFormForm.archivo.$invalid" class="help-block">Error en campo 'Afiche'.</p>
    </div>

            <div class="form-group" ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.lugar.$invalid && registroEventoFormForm.lugar.$pristine && registroEventoFormSubmitted}"><label for="registroEventoForm_lugar">Lugar</label><input id="registroEventoForm_lugar" type="text" name="lugar" class="form-control" ng-model="registroEventoForm.lugar" placeholder="Lugar del evento" required/><p ng-show="registroEventoFormSubmitted && registroEventoFormForm.lugar.$invalid" class="help-block">Error en campo 'Lugar'.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  registroEventoFormSubmitted && registroEventoFormForm.maxparticipantes.$invalid && registroEventoFormForm.maxparticipantes.$pristine && registroEventoFormSubmitted}"><label for="registroEventoForm_maxparticipantes">Nro. Total de Cupos</label><input id="registroEventoForm_maxparticipantes" type="number" name="maxparticipantes" class="form-control" ng-model="registroEventoForm.maxparticipantes" placeholder="Máximo número de participantes" required min="1"/><p ng-show="registroEventoFormSubmitted && registroEventoFormForm.maxparticipantes.$invalid" class="help-block">Error en campo 'Nro. Total de Cupos'.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            Registrar
        </button>
    </form>
    </br>



<div id="right"></div>
